@media screen and (max-width: 768px) {
    .detail-page-container {
        width: 100vw;
        height: auto;
        overflow: auto;
    }

    .property-info {
        grid-template-columns: 1fr 1fr;
    }

    .detail-header {
        /* padding: 1.5rem; */
        border: none
    }

    .bold-details {
        border: none;
        grid-template-columns: 1fr 1fr;
    }

    .small-details {
        border: none;
        grid-template-columns: 1fr 1fr;
    }

    .detail-box {
        border: none !important;
    }

    .text-gold {
        color: black;
    }

    .ameneties .title {
        display: none;
    }

    .top-section {
        padding: 1.5rem;
    }

    .bottom-section {
        padding: 1.5rem;
        box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3);
    }

    .ameneties-list {
        column-gap: 0.5rem;
        row-gap: 0.8rem;
    }

    .ameneties-item {
        text-overflow: ellipsis;
        overflow: hidden;
        text-wrap: nowrap;
    }

    .action-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: .5rem;
    }

    .btn-normal {
        width: auto;
        text-wrap: nowrap;
        padding-left: 8px;
        padding-right: 8px;
    }

    .img-carousel {
        height: 100%;
        width: 100%;
    }

    .img-carousel-wrapper {
        height: 100%;
        width: 100%;
    }

    .carousel-container {
        height: 300px;
        width: 100%;

    }
}